---
---
<div class="nav-links">
    <a href="/"><button class="nb-button default rounded"> Home </button></a>
    <a href="/about/"><button class="nb-button default rounded"> About </button></a>
    <a href="/blog/"><button class="nb-button orange rounded"> Blog </button></a>
</div>
